.app__subheading{
    margin-bottom: 1rem;
}

@media screen and (max-width: 800px){
    .app__subheading{
        width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
text-align: left;

    }
}
